body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.nav{
    z-index: 2;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    width:1000px;
    height: 100px;
}
.circle {
    top: -500px;
    right: -500px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    border:1px solid #e3e3e3;    
    height:1000px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:1000px;
}
.circle_2 {
    top: -500px;
    right: -500px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    border:1px solid #e3e3e3;    
    height:900px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:900px;
}

.list p{
    font-size: 13px;
    margin: 0px;
}
.list{
    align-items: center;
    margin: 0px;
    background: #F9F9F9;
    border-radius: 39px;
    justify-content: space-between;
    padding: 5px;
    display: flex;
    flex-flow: row;
    width: 589px;
    height: 10px;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.eplogo {
    width: 100px;
    height: 50px;
}
.main{
    z-index: 3;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    height: fit-content;
    width: 1000px;
}
.imgs{
    align-items: center;
    width: 1440px;
    height: 600px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.img_1{
    margin-right: 10px;
    border-radius: 60px;
    background-color: #313131;
    width: 1000px;
    height: 500px;
}
.img_2{
    border-radius: 60px;
    background-color: #313131;
    width: 440px;
    height: 500px;
}
.bottom_content{
    height: 150px;
    width: 1000px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.child_bottom_cont{
    height: 300px;
    width: 600px;
    word-break: break-all;
    align-items: end;
}
.achieve{
    height: 100px;
    width: 1000px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.achieve div{
    text-align: center;
    height: 150px;
    width: fit-content;
    display: flex;
    flex-flow: column;
}
.our_mission{
    margin-top: 200px;
    height: 300px;
    width: 1000px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.mis_content{
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 300px;
    width: 800px;
}
.mis_content h1{
    margin-bottom: 5px;
}
.mis_image{
    border-radius: 50px;
    background-color: #313131;
    height: 300px;
    width: 600px;
}